<% if(estado=='Success'){%>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Paciente añadido satisfactoriamente</h4>
  </div>
  <%}else if(estado=='neutral'){%>
<%}else if(estado=='Failed'){%>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Se produjo un error, consulte con su administrador</h4>
  </div>
  <%}%>

<div class="card-body">
  <form class="needs-validation" autocomplete="nope" method="post" name="pacienteAdd" action="/newPacient">
    <label for="" class="text-white">Informacion General</label>
    <div class="form-row border border-white rounded p-3 col-12">
      <div class="col-md-6" id="userName">
        <label for="nombrePac" class="text-white">Nombre</label>
        <input type="text" name="userName" class="form-control col-12" id="nombrePac" placeholder="Ingrese el nombre" autocomplete="nope" required>
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1" class="text-white">Apellido</label>
        <input type="text" name="userLastName" class="form-control col-12" id="apellidoPac" placeholder="Ingrese el apellido" autocomplete="nope" required>
      </div>
      <div class="col-md-6 mt-3">
        <label for="exampleInputEmail1" class="text-white">Identificacion</label>
        <input type="text" name="userIde" class="form-control col-12" id="identificacion" placeholder="Numero de identificacion" autocomplete="off" required pattern=".{16,16}">
      </div>
      <div class="container mt-3 col-md-6 h-25 ">
        <label for="" class="text-white">Sexo</label>
        <div class="form-control bg-transparent pl-5 pr-5 border border-secondary rounded pt-1 pb-1 border-white">
          <input class="form-check-input ml-4" type="radio" value="1" name="userGender" id="sexoM" required>
          <label class="form-check-label ml-5 text-white" for="sexoM">
            Masculino
          </label>
          <div class="form-check offset-md float-right">
            <input class="form-check-input mr-4" type="radio" value="0"  name="userGender" id="sexoF" required>
            <label class="form-check-label mr-5 text-white" for="sexoF">
              Femenino
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <label for="exampleInputEmail1" class="text-white">Nacimiento</label>
        <input type="date" name="userBirth" class="form-control col-12" id="fechaNac" placeholder="Fecha de nacimiento" autocomplete="nope" required>
      </div>
      <div class="container mt-3 col-md-6 h-25">
        <label for="" class="text-white">Estado Civil</label>
        <div class="form-control bg-transparent pl-5 pr-5 border border-secondary rounded pt-1 pb-1 border-white">
          <input class="form-check-input ml-4" type="radio" value="Casado" name="civil" id="estadoC" required>
          <label class="form-check-label ml-5 text-white" for="estadoC">
            Casado
          </label>
          <div class="form-check offset-md float-right">
            <input class="form-check-input mr-4" type="radio" value="Soltero" name="civil" id="estadoS" required>
            <label class="form-check-label mr-5 text-white" for="estadoS">
              Soltero
            </label>
          </div>
        </div>
      </div>
    </div>
    <label for="" class="mt-4" class="text-white">Informacion de Contacto</label>
    <div class="form-row border border-white rounded p-3 col-12">
      <div class="col-md-6" id="userName">
        <label for="telefono" class="text-white">Telefono</label>
        <input type="tel" name="userTel" class="form-control col-12" id="telefono" placeholder="Numero telefonico" autocomplete="nope">
      </div>
      <div class="col-md-6" id="userName">
        <label for="barrio" class="text-white">Barrio</label>
        <input type="text" name="userBarrio" class="form-control col-12" id="barrio" placeholder="Ingrese el barrio" autocomplete="nope" required>
      </div>
      <div class="col-md-6 mt-3" id="userName">
        <label for="ciudad" class="text-white">Ciudad</label>
        <input type="text" name="userCiudad" class="form-control col-12" id="ciudad" placeholder="Ingrese ciudad" autocomplete="nope" required>
      </div>
      <div class="col-md-6 mt-3" id="userName">
        <label for="domicilio" class="text-white">Domicilio</label>
        <input type="text" name="userDomicilio" class="form-control col-12" id="domicilio" placeholder="Direccion domiciliar" autocomplete="nope" required>
      </div>
    </div>
     <button type="submit" class="btn btn-secondary mt-3 ml-0">Enviar</button>
  </form>
</div>
<script type="text/javascript">
  /*$("form[name='pacienteAdd']").submit(function(e){
    console.log('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA');
    e.preventDefault();
    e.stopImmediatePropagation();
    var inputIde=document.querySelector("input[name='userIde']").value;
    inputFinal=inputIde.replace("-","");
    inputFinal=inputFinal.replace("-","");
    document.querySelector("input[name='userIde']").value=inputFinal;
    console.log(inputFinal);
    $.post($(this).attr("action"),function(res){
      document.write(res);
    });
  });*/
  function birth(){
    var inputIde=document.querySelector("input[name='userIde']").addEventListener("change",autocomplete,false);
    var inputIde=document.querySelector("input[name='userIde']").addEventListener("keyup",guiones,true);
    }
  function guiones(e){
    var inputIde=document.querySelector("input[name='userIde']").value;
    console.log(e.key);
    if (inputIde.length==3){
      if (e.key=="Backspace") {

      }else{
        console.log("longitud 3");
        document.querySelector("input[name='userIde']").value=inputIde.concat("-");
      }
    } else if(inputIde.length==10){
      if (e.key=="Backspace") {

      }else{
        console.log("longitud 10");
        document.querySelector("input[name='userIde']").value=inputIde.concat("-");
      }
    }
  }
  function autocomplete(e){
    var inputIde=document.querySelector("input[name='userIde']");
    let inputBirth=document.querySelector("input[name='userBirth']");
    let birth=inputIde.value;
    let day=birth.substring(4,6);
    let mouth=birth.substring(6,8);
    let year=birth.substring(8,10);
    birth=year.concat("-");
    birth=birth.concat(mouth);
    birth=birth.concat("-");
    birth=birth.concat(day);
    if(year>=00 && year<=20){
      birth=birth.replace(""+year, "20"+year);
    }else{
      birth=birth.replace(""+year, "19"+year);
    }
    inputBirth.value=birth;
  }
  birth();
</script>
