    <nav style="height: 3em;font-size: 11px; background: #d3e8e8;" class="navbar navbar-expand-lg navbar-secondary col-12">
        <ul class="navbar-nav">
          <li class="nav-item ml-4">
            <a class="nav-link text-dark" name="newPatient" style="font-weight: normal;" href="/pacientes/add"><i class="fas fa-plus-circle mr-1"></i>Nuevo<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link text-dark" style="font-weight: normal;" href="/modifyPacient"><i class="fas fa-user-alt mr-1"></i>Modificar</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link text-dark"style="font-weight: normal;"  href="/pacientes/delete"><i class="fas fa-trash-alt mr-1"></i>Eliminar</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link text-dark" style="font-weight: normal;" href="/pacienteShowDown"><i class="fas fa-search mr-1"></i>Busqueda</a>
          </li>
        </ul>
    </nav>
