<% if(estado=='Success'){%>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Doctor eliminado satisfactoriamente</h4>
  </div>
  <%}else if(estado=='neutral'){%>
<%}else if(estado=='Failed'){%>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Se produjo un error inesperado, acceso denegado</h4>
  </div>
  <%}%>
  <form class="form-inline my-2 my-lg-0 justify-content-center" method="post" name="pacienteDelete" action="/deleteDoctor">
    <label for="subject" class="display-4 text-white">Buscar Doctor</label>
    <div class="row col-12 d-flex justify-content-center mt-4">
      <input name="subject" class="form-control mr-sm-2 col-8" type="search" placeholder="Nombre, identificacion, numero telefonico" aria-label="Search" required>
      <button class="btn btn-light btn-outline my-2 my-sm-0 bg-primary text-white" type="submit">Buscar</button>
    </div>
      </form>
        <%if(sujeto!=null){%>
        <div class="row col-12 d-flex justify-content-center">
          <div class="col-8 mt-4 text-center">
            <table class="table table-hover text-white table-dark">
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Identificacion</th>
              <th>Sexo</th>
              <th>Ciudad</th>
              <th>Telefono</th>
              <th>Accion</th>
              <%for(var i=0;i<sujeto.recordset.length; i++){%>
                <tr>
                  <td><%= sujeto.recordset[i].nombre%></td>
                  <td><%= sujeto.recordset[i].apellido%></td>
                  <td><%= sujeto.recordset[i].cedula%></td>
                  <%if(sujeto.recordset[i].sexo==true){%>
                  <td>Masculino</td>
                  <%}else if(sujeto.recordset[i].sexo==false){%>
                    <td>Femenino</td>
                    <%}%>
                  <td><%= sujeto.recordset[i].ciudad%></td>
                  <td><%= sujeto.recordset[i].telefono%></td>
                  <td><a href="/doctorDelete/<%=sujeto.recordset[i].id%>"><button class="btn btn-light btn-outline bg-danger text-white" type="submit" name="victima"><i class="fas fa-trash-alt"></i></button></a></td>
                </tr>
                <%}%>
            </table>
          </div>
        </div>
        <%}else{}%>
