<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/../recursos/favicon.ico">
    <%- include ('partials/home/head.html') %>
    <link rel="stylesheet" href="/css/estilo.css"/>
    <title><%= title %></title>
  </head>
  <body> 
    <div class="jumbotron big-bannerCita m-0 w-100 p-0 text-white">
      <%- include ('partials/home/logoNav.html') %><!--Uso del motor de plantilla ejs para sustituir el codigo de ese archivo en esta linea-->
      <%- include ('partials/home/navigationBar.html') %>
      <%- include ('partials/citas/citasNavs.html') %>
      <% if(ruta=="/citas/add") { %>
        <%- include ('partials/citas/citasAdd.html') %>
        <% }else if(ruta=="/citas/search"){ %>
          <%- include ('partials/citas/citasSearchPacient.html') %>
          <% }else if(ruta=='/citas/lookup'){ %>
            <%- include ('partials/citas/citasSearchCita.html') %>
            <% }else if(ruta=='showCites'){ %>
              <%- include ('partials/citas/citasPacientShow.html') %>
              <% }else if(ruta=='showPendientCites'){ %>
                <%- include ('partials/citas/citasPendientShow.html') %>
                <% }else if(ruta=='/citas/reprogramar'){ %>
                  <%- include ('partials/citas/citasReproSearch.html') %>
              <% }else if(ruta=='/citas/pendientes'){ %>
                <%- include ('partials/citas/citasPendientesSearch.html') %>
                <% }else if(ruta=='showPacientCitesR'){ %>
                  <%- include ('partials/citas/citasForEditShow.html') %>
                  <% }else if(ruta=='/citas/delete'){ %>
                    <%- include ('partials/citas/citasDeleteSearch.html') %>
                    <% }else if(ruta=='citasDeleteShow'){ %>
                      <%- include ('partials/citas/citasDeleteShow.html') %>
                  <% }else if(ruta=='citasForEditCard'){ %>
                    <%- include ('partials/citas/citasForEditCard.html') %>
            <% }else if(ruta=="/citas"){ %>
            <%}%>
          </div>
  </body>
</html>
