<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include ('partials/home/head.html') %>
    <link rel="stylesheet" href="/css/estilo.css"/>
    <title><%= title %></title>
  </head>
  <body>
    <%- include ('partials/home/logoNav.html') %><!--Uso del motor de plantilla ejs para sustituir el codigo de ese archivo en esta linea-->
    <%- include ('partials/home/navigationBar.html') %>
    <%- include ('partials/inventario/inventarioNavs.html') %>
<p class="display-3">Añade, elimina, actualiza y consulta productos para tu inventario</p>  </body>
</html>
