  <nav style="height: 3em;font-size: 11px; background: #1274b3;" class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraDesplegable" aria-controls="barraDesplegable" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="barraDesplegable">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link text-white" style="font-weight: normal;" href="/index" tabindex="-2"><i class="fas fa-home mr-1"></i>Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" style="font-weight: normal;" href="/citas" tabindex="-1"><i class="fas fa-address-card mr-1"></i>Citas</a>
      </li>
      <li class="nav-item" name="pacientes">
        <a class="nav-link text-white" style="font-weight: normal;" href="/pacientes" tabindex="-1"><i class="fas fa-hospital-user mr-1"></i>Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" style="font-weight: normal;" href="/doctor" tabindex="-1"><i class="fas fa-user-md mr-1"></i>Doctor</a>
      </li>
      <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/home">Cerrar Seseion</a>                    
                </div>
            </li>
      </ul>
  </div>
  </nav>
